.Step {
  margin-top: 10px;
  padding-top: 5px;
  color: #ffffff;
  border:1px solid #de6161;
  border-right:none;
  text-align: center;
  font-size:20px;
  background-color:#de6161;
  height: 300px;
}

.Status {
  margin-top: 10px;
  padding-top: 5px;
  color: #454545;
  border:1px solid #de6161;
  border-right:none;
  text-align: center;
  font-size:20px;
  background-color:#444444;
  height: 100px;
}

.steplist {	
	padding: 10px;
} 

.stepbtn {
	margin: 10px;
} 